
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>Parking Space Finder App</title>


    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="static/stylesheets/sweetalert.css">
    <link rel="stylesheet" href="static/stylesheets/style.css">


</head>
<body>
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Parking space finder app</h1>
            <p class="splash-subhead">
                When you drive into a city centre <em>(initially Newcastle)</em>, the app will alert you automatically to the nearest car park that has the most free spaces – helping you to get parked quicker and with less hassle! The notification will be triggered automatically your location, and will appear on both your <em>(dashboard mounted)</em> phone, and your smartwatch, for a truly safe and handsfree experience. The app will also feature a CarPlay app, for compatible in-car entertainment systems.
            </p>
            <p>
                <a href="#" class="pure-button pure-button-primary" id="vote-button">Vote for this app to become a reality...</a>
            </p>
            <div id="smallprint">
                <p>By clicking the vote button, you are casting your vote for the Parking Space Finder by Dylan McKee in the <a href="http://datamovement.co.uk/entries/" target="_blank">Data Movement</a> travel app competition.</p>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="static/js/sweetalert.min.js"></script>
<script src="static/js/main.js"></script>


</body>
</html>
